 

body {
  margin : 0px;  
}

.color-body {
  background-color:  #fff ;
  height :  100vh ;
}

.nav-style {
  height :  90px ;
  width :  1440px ;
  background-color:  #b45b35 ;
}

.logo {
  height: 72px ; 
  width: 78px ; 
}

.search  {
  position: relative ; 
}

.search-input  {
  height: 40px ; 
  text-indent : 25px ; 
  border-radius:  20px ; 
}

.search-input:focus  {
  box-shadow: none  ; 
  border : 2px solid red ; 
}

.search .fa-search  {
  position : absolute ; 
  top: 12px  ; 
  left: 16px  ; 
}

.card {
  position : relative ;
  transition : all .5s ease-in ;
  cursor  : pointer ;   
  height  : 375px ;   
}


.card__image {
  display : block ;
  height  : 100px ;   
  width  : 100px ;   
  border-radius : 5px ;   
}


.card__overlay {
  position  : absolute;
  top  : 0px ;   
  left : 0px ;   
  bottom: 0px ;     
}





