.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* new custom class name  */
.myClass {
  color:red ; 
  background-color:  #FFF;
  font-size:  20px;
}

.sha {
  /* text-decoration: underline ; */
  font-size: 60px ;
}
/* --------------------------- */
/* --------------------------- */


/* CSS properties of the old css file : */


/* 3 Initializing ReactJS App by VScode */
/* ================================== Global ================================ */

* {
  margin: 0px;
  padding: 0px;
  /* cursor: pointer; */
  /* -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box */
}

body {
  padding-top: 80px;
  overflow: hidden;
  background-color: rgb(100, 196, 228);
}

hr {
  border: 5px solid silver;
}

p {
  margin-bottom: 10px;
}

ul {
  margin-bottom: 20px;
}

ol li:first-child {
  margin-top: 10px;
}

ul li {
  list-style: none;
}

li ~ p {
  margin-bottom: 22px;
  margin-top: -10px;
  margin-left: 25px;
}

li meter {
  margin-left: 20px;
}

.Clear {
  clear: both;
}

section {
  border: 3px solid #333;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 10px;
  height: auto;
}

header {
  margin-bottom: 20px;
  padding: 10px;
}

header h1 {
  text-decoration: underline;
  font-size: 25px;
}

section > header {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  background: gray;
  transition: all ease-in-out .3s;
}

section > header:hover {
  border: 3px solid #100;
  color: #fff;
  border-radius: 20px;
  transform:scale(1.1);
}

section article > header > p,
article > p,
header > p {
  font-size: 20px;
  color: #100;
  text-indent: 20px;
  line-height: 200%;
}

#btnCont {
  /* width: 1000px; */
  width: fit-content;
}

.btn0 {
  width: fit-content;
  text-align: center;
  font-size: 20px;
  color: darkgreen;
  font-weight: bold;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  border: solid 1px lightgreen;
}

.btn0:hover {
  background: #111;
  border: solid 3px gold;
  color: lightgreen;
}

/*ol li {font-size:20px; margin-left:50px; line-height:1.5em}*/

.Welcome {
  background: #eee;
  padding: 10px;
  width: auto;
  text-align: center;
  margin: auto;
  font-weight: bold;
}

.Welcome span {
  color: #888;
}

.JSDOMObjDefAssign {
  border: solid 1px red;
  text-align: left;
  margin: auto;
  font-size: 15px;
  font-weight: bold;
}

.txtarea,
.txtarea1,
.txtarea2,
.txtarea3 {
  width: auto;
  height: auto;
  border: solid 3px blue;
  text-align: center;
  margin: 10px auto 10px;
  font-size: 15px;
  font-weight: bold;
  display: block;
}

output {
  font-weight: bold;
  font-size: 20px;
}

.FixSpace {
  margin-left: 50px;
}

.space {
  margin-left: 70px;
}

.space0 {
  margin-left: 50px;
}

.one {
  margin-left: 40px;
}

.two {
  margin-left: 80px;
}

.three {
  margin-left: 120px;
}

.four {
  margin-left: 160px;
}

.five {
  margin-left: 200px;
}

.six {
  margin-left: 240px;
}

.seven {
  margin-left: 280px;
}

.eight {
  margin-left: 320px;
}

.nine {
  margin-left: 360px;
}

.ten {
  margin-left: 400px;
}

.elv {
  margin-left: 440px;
}

.tlv {
  margin-left: 480px;
}

/*----------------------------------------------------------------------------*/

/* ========================= Page Header =========================== */

.Main {
  border: 2px solid #100;
  background: #ddd;
  color: #333;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 30px;
  word-spacing: 5px;
  font-weight: bold;
  font-style: italic;
}

/*----------------------------------------------------------------------------*/

/* =============================== Page Index (Nav)============================== */

/* nav {
    border: 3px solid #ddd;
    background: gray;
    height: auto;
    margin: 10px;
    padding: 10px
} */

/* nav ol li {
    display: inline-block;
    font-size: 20px;7
    margin-right: 5px
} */

/* nav ol {
    text-align: center
} */

/* nav ol li:after {
    content: " | "
} */

/* nav ol li:last-child:after {
    content: "  "
} */

/* nav a {
    text-decoration: none;
    color: #100
} */

/* nav ol a:hover,
nav ol li:hover {
    border: gray;
    background: #ddd;
    font-weight: bold;
    text-decoration: underline
} */

/*-----------------------------------------------------------------------------------------------------------*/

/* ============================= Page Aside ========================== */

aside {
  width: 30%;
  float: right;
}

aside section {
  margin: 20px 10px;
  margin-bottom: 20px;
  padding: 10px;
  background: #eee;
  border: 1px solid #ccc;
}

aside section ul {
  list-style: none;
  margin-top: 10px;
}

aside section ul li {
  line-height: 1.8;
  margin-left: 20px;
}

aside section ul li:hover {
  text-decoration: underline;
}

aside h3 {
  padding: 10px;
  background: #d1d1d1;
}

aside section div {
  margin: 10px;
}

progress {
  width: 100px;
}

.Poll input[list="Browsers"] {
  margin-top: 10px;
}

.Age-Calculate input[name="age"] {
  margin-top: 10px;
}

aside .AudioSection audio {
  width: 350px;
  background: #efefef;
}

/*----------------------------------------------------------------------------*/

/* ============================ Page Post ======================== */

.Post {
  width: 70%;
  float: left;
}

/*--------------------------------------------------------------------------------------------------------*/

/* ======================== ES6 -4 Statically vs Dynamically Typed Languages ================= */

.MainC ol,
.MainC ul {
  border: 2px solid #ddd;
  font-size: 25px;
  color: green;
  margin: 10px;
  padding: 15px;
  list-style: none;
  text-align: center;
  list-style: none;
}

.MainC li {
  margin-bottom: 20px;
}

/*---------------------------------------------------------------------------------------------------------*/

/* ========================  ES6 -4 Statically vs Dynamically Typed Languages ]  =================== */

/* .JSDOMCon ol,
.JSDOMCon ul, */

.JSDOMCon ol,
.JSDOMCon ul {
  margin-left: 40px;
}
.JSDOMCon ol li,
.JSDOMCon ul li {
  font-size: 20px;
}

.JSDOMCon p {
  font-size: 20px;
  padding: 5px;
  margin: 5px 50px;
  line-height: 1.5em;
}

.JSDOMCon ul li {
  list-style: none;
  margin-bottom: 10px;
}

.JSDOMCon ol li {
  margin-bottom: 20px;
}

.JSDOMCon div {
  font-size: 25px;
  border: 2px solid gray;
  background: #efefef;
  margin-bottom: 25px;
  padding: 10px;
}

.JSDOMCon h1 {
  font-weight: bold;
  text-decoration: underline;
  margin: 10px auto 15px;
}

.JSDOMCon ul li,
.JSDOMCon ol li {
  margin-left: 20px;
  padding: 10px;
  line-height: 1.5em;
  margin-top: 10px;
}

.codes,
.codes > code > a {
  text-align: left;
  margin-left: -40px;
  left: 0px;
}
.codes > code > a {
  /* word-wrap: break-word; */
  word-wrap: normal;
}

/*-------------------------------------------------------------------------------------------------------*/

/* =====================  ES6 -4 Statically vs Dynamically Typed Languages] */

.JSDOMImp ol,
.JSDOMImp ul,
.JSDOMImp p {
  font-size: 20px;
  padding: 5px;
  margin: 5px 50px;
  line-height: 1.5em;
}

.JSDOMImp ul li {
  list-style: none;
  margin-bottom: 10px;
}

.JSDOMImp ol li {
  margin-bottom: 10px;
}

.JSDOMImp div {
  font-size: 25px;
  border: 2px solid gray;
  background: #efefef;
  margin-bottom: 25px;
  padding: 10px;
}

.JSDOMImp h1 {
  font-weight: bold;
  text-decoration: underline;
  margin: 10px auto 15px;
}

.JSDOMImp ul li,
.JSDOMImp ol li {
  margin-left: 20px;
  padding: 10px;
  line-height: 1.5em;
  margin-top: 10px;
}

/*-------------------------------------------------------------------------------------------------------*/
/* =====================  ES6 -4 Statically vs Dynamically Typed Languages] */

.JSDOMSyntx ol,
.JSDOMSyntx ul,
.JSDOMSyntx p {
  font-size: 20px;
  padding: 5px;
  margin: 5px 50px;
  line-height: 1.5em;
}

.JSDOMSyntx ul li {
  list-style: none;
  margin-bottom: 10px;
}

.JSDOMSyntx ol li {
  margin-bottom: 10px;
}

.JSDOMSyntx div {
  font-size: 20px;
  border: 2px solid gray;
  background: #efefef;
  margin-bottom: 25px;
  padding: 10px;
}

.JSDOMSyntx h1 {
  font-weight: bold;
  text-decoration: underline;
  margin: 10px auto 15px;
}

.JSDOMSyntx ul li,
.JSDOMSyntx ol li {
  margin-left: 20px;
  padding: 10px;
  line-height: 1.5em;
  margin-top: 10px;
}

/*-------------------------------------------------------------------------------------------------------*/
/* Practical Application:*/

.JSDOMPract h1 {
  font-weight: bold;
  text-decoration: underline;
  margin: 10px auto 15px;
}

.JSDOMPract ul li,
.JSDOMPract ol li {
  margin-left: 20px;
  padding: 10px;
  line-height: 1.5em;
  margin-top: 10px;
  font-size: 20px;
}

.JSDOMPract p {
  font-size: 20px;
  padding: 5px;
  margin: 5px 50px;
  line-height: 1.5em;
}

.JSDOMPract section div {
  background: #ccc;
}

.JSDOMPract section form p {
  display: inline;
  line-height: 2em;
  margin-left: 20px;
  margin-top: 20px;
}

.JSDOMPract code,
textarea {
  background: #fff;
  padding: 10px;
  display: block;
  margin: 10px 0;
  font-weight: bold;
  border: 1px solid #ccc;
  font-size: 15px;
}

.JSDOMPract code:hover {
  border: 3px solid crimson;
}

.JSDOMPract textarea:hover {
  border: 3px solid crimson;
}

.JSDOMPract {
  margin: 10px auto;
  overflow: hidden;
  width: 100%;
}
/*------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------------*/
/* Practical Application [Application 3]:*/

.codes > input {
  width: 400px;
  text-align: center;
  margin: 10px;
  font-size: 15px;
  display: block;
  padding: 5px;
  border: 6px solid #333;
}

.LitDefApp3 ol .LitDefApp3 ul,
.LitDefApp3 p {
  font-size: 20px;
  padding: 5px;
  margin: 5px 50px;
  line-height: 1.5em;
}

.LitDefApp3 ul li {
  list-style: none;
  margin-bottom: 10px;
}

.LitDefApp3 ol li {
  margin-bottom: 10px;
}

.LitDefApp3 div {
  font-size: 25px;
  border: 2px solid gray;
  background: #efefef;
  margin-bottom: 25px;
  padding: 10px;
}

.LitDefApp3 h1 {
  font-weight: bold;
  text-decoration: underline;
  margin: 10px auto 15px;
}

.LitDefApp3 ul li,
.LitDefApp3 ol li {
  margin-left: 20px;
  padding: 10px;
  line-height: 1.5em;
  margin-top: 10px;
}

.codes0 * {
  margin: 20px;
}

/*-------------------------------------------------------------------------------------------------------*/
/* =============================== Section / Free Buttons =========================== */

.Home {
  position: fixed;
  border: 3px solid #080;
  padding: 5px;
  background: lightgreen;
  color: #100;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  top: 100px;
  right: 10px;
}

.Home:hover {
  background: #080;
  border-color: lightgreen;
  color: #fff;
}

.End {
  position: fixed;
  border: 3px solid #080;
  padding: 5px;
  background: lightgreen;
  color: #100;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  top: 150px;
  right: 10px;
}

.End:hover {
  background: #080;
  border-color: lightgreen;
  color: #fff;
}

.Note {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100px;
  height: auto;
}

.Note details summary {
  text-align: center;
}

.Note details ul {
  margin-bottom: 5px;
}

.Note details ul li {
  padding: 5px;
  text-align: left;
  margin-left: 3px;
}

.Note ul li a {
  text-decoration: none;
  text-align: left;
  margin-left: 3px;
}

.Note:hover {
  background: lightblue;
  border: 3px solid gold;
  border-radius: 3px;
}

.Note details summary:hover {
  font-weight: bold;
}

.Note ul li a:hover {
  text-decoration: underline;
  font-weight: bold;
  font-size: 20px;
}

.Calculator input[name="num1"] {
  margin-top: 10px;
}

.Age-Calculate input {
  margin-bottom: 10px;
}

.Age-Calculate output[name="resultM"] {
  margin-left: 20px;
}

.OutputExp input[name="age"] {
  margin-top: 10px;
}

aside .AudioSection audio {
  display: block;
  color: #111;
  background: #111;
  margin: auto;
  width: 300px;
  margin-top: 10px;
}

aside .VideoSection video {
  display: block;
  color: #111;
  background: #111;
  margin: auto;
  width: 350px;
  height: 300px;
  margin-top: 10px;
}

/*----------------------------------------------------------------------------*/

/* ============================== Page Footer ============================= */

footer {
  border: 2px solid #100;
  background: #333;
  color: #fff;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

/* ------------------------------------------------------- */
.codes0 .scrollUp {
  display: none;
  position: fixed;
  background-color: red;
  color: #fff;
  padding: 5px;
  font-size: 30px;
  border-radius: 50%;
  right: 20px;
  bottom: 30px;
  transition: all ease-in-out 0.7s;
}

.codes0 .scrollUp:hover {
  border: solid blue 5px;
  font-weight: bold;
  background-color: white;
  color: red;
  cursor: pointer;
}






