body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* formatings properties of the [App] page  */ 
header div { 
  border: 1px solid transparent   ;
  border-radius: 50px   ;
  padding : 5px ;
  background : lightsalmon; 
  color : lightblue ; 
  margin: 3px auto ;
}

header div:hover {
  border:  1px solid red ;
  transition: all 1s;
}
header div a:hover {
  color:red ;
  transition: all 1s;
}


