
/* This is the main public CSS file {style.css}   */

.mainStyle { 
    font-size: 30px;
    color: aqua;
    text-decoration: bold ;
}

.borderCont {
    border: solid red 2px;  
} 


.headerStyle {
    font-size:  30px  ;
    text-decoration:  underline;
    color: gold; 
    text-align: center;
}