

/* ==================
    3. header of mobile
===================== */
.show-when-mobile {
  display: none;
}

.myHeader .hide-when-mobile ,  .myHeader .show-when-mobile  {
  background-color: teal ;
}
 
.hide-when-mobile {
  display: flex;
  justify-content: space-around;
}
 

@media (max-width: 800px) {
  .show-when-mobile {
    display: block;
  }
  
  .hide-when-mobile {
    display: none;
  }
}














