 
.color-body {
  background-color: #f8f8f8;
  height: 100vh 
}

.font {
  font-family: "Almarai" , "san-serif" ; 
}

.title {
  color: #224f61 ;
  font-family: "Almarai" , "san-serif" ; 
  font-size: 30px ; 
  font-weight: bold ; 
  letter-spacing: 0 ; 
  line-height: 64px ; 
}
  
.brand-color {
  color:  #b45b35; 
}

.underline {
  height: 1px ;
  width: 200px ;
  border-radius: 10px ;
  border: 2px solid #b45b35 ;
}

.btnCat  {
  color: black ;
  font-family: "Almarai" , "san-serif" ; 
  font-size:  20px ; 
  letter-spacing :  0 ; 
  line-height : 20px ; 
  transition:all ease-in-out .2s ;
}
 
.btnCat:hover  {
  color: white;
  font-family: "Almarai" , "san-serif" ; 
  font-size:  20px ;    
  letter-spacing :  0 ; 
  line-height : 20px ; 
  border-radius : 11px  ; 
  border: none  ; 
  background-color:  #b45b35  ; 
}
 

.btn-search  {
  color: #b45b35    ;
  background-color: #fff;
  border: 3px solid #b45b35 ;
  border-radius: 8px  ;
  font-weight: bold ;
  font-size:  18px ;    
}

.btn-search:hover  {
  color: #fff;
  background-color: #b45b35;
  border: 3px solid #fff   ;
  border-radius: 8px ;
  font-weight: bold    ;
}

 
.item-title {
  color: #555555    ;
  font-family: "Almarai" , "san-serif" ; 
  font-size : 16px ;
  font-weight : bold ;
  letter-spacing : 0 ;
  line-height : 20px ;
}

.item-price {
  color: #111 ;
  font-family: "Almarai" , "san-serif" ; 
  font-size : 20px ;
  font-weight : bold ;
  letter-spacing : 0 ;
  line-height : 20px ;
  border-radius: 20px ;  
  background-color: #b45b35;
  padding : 7px 
}

.item-description {  
  color: #8c8c8c;
  font-family: "Almarai" , "san-serif" ; 
  letter-spacing : 0 ;
  line-height : 20px ;
  font-size : 16px ;
}


.img-item {
  height: 180px;
  width: 252px ;
  border-radius: 5px ;  
}

 