.detail {
    border : 2px solid black; 
    box-shadow: 2px 2px 2px 2px red ;   
}

.detail * {
    display : flex;
    align-items :center ; 
}


.img {
    width: auto; 
    border: 1px solid gray  ; 
}