
<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">
    <title> 21 Learn VueJs In Arabic - Setup and Configure Vue CLI Part 1 </title>
    <link rel="stylesheet" href="21 Learn VueJs In Arabic - Setup and Configure Vue CLI Part 1.css" media="all">

    <style>
        .span{color: red ; font-weight:bold};
        /* #app-main * {border: 2px solid #111; margin:10px; background-color:aqua}; */
    </style>
    <script>
    </script>

</head>
<!-------------------------------------------------------------------------------------------------------->

<body>
    <header class="Main" id="Main">
       21 Learn VueJs In Arabic - Setup and Configure Vue CLI Part 1
    </header>

<!-------------------------------------------------------------------------------------------------------->

    <nav>
        <ol type="A">
            <li> <a href=#MainC title="Go to21 Learn VueJs In Arabic - Setup and Configure Vue CLI Part 1 ">
               21 Learn VueJs In Arabic - Setup and Configure Vue CLI Part 1 Main Topics </a> </li>

            <li> <a href=#PHPCon title="Go to  [16 Learn VueJs In Arabic - Setup and Configure Vue Part 1 ] Concept">
               21 Learn VueJs In Arabic - Setup and Configure Vue CLI Part 1 Concept </a> </li>

            <li> <a href=#PHPImp title="Go to  [16 Learn VueJs In Arabic - Setup and Configure Vue Part 1 ] Importance & Benefits">
               21 Learn VueJs In Arabic - Setup and Configure Vue CLI Part 1 Importance & Benefits </a> </li>

            <li> <a href=#PHPSyntx title="Go to  [16 Learn VueJs In Arabic - Setup and Configure Vue Part 1] Syntax">
               21 Learn VueJs In Arabic - Setup and Configure Vue CLI Part 1 Syntax & Steps </a> </li>

            <li> <a href=#PHPPract title="Go to  [16 Learn VueJs In Arabic - Setup and Configure Vue Part 1] Practical Applications">
               21 Learn VueJs In Arabic - Setup and Configure Vue CLI Part 1 Practical Applications </a> </li>

        </ol>

        <a class="Home" href="#Main" title="Go to page header"> Home </a>
        <a class="End" href="#footer" title="Go to page footer"> End </a>
    </nav>
    <!---------------------------------------------------------------------------------------------------------->

    <main class="Welcome"> Welcome to Vue.js Course <span>21 Learn VueJs In Arabic - Setup and Configure Vue CLI Part 1 </span>
    </main>
    
    <div class="Post">
        <Section id="MainC" class="MainC">

            <header>
                Vue.js [21 Learn VueJs In Arabic - Setup and Configure Vue CLI Part 1] Main Topics :
            </header>

            <article>
                <p> &gt; Main Subjects in this lesson are as following : </p>
                <ol type="A">
                    <li> Setup the Vue CLI [Command line Interface] -> {cmder} () </li>
                    <li> Using the Vue CLI => Create a new Vue Project </li>
                    <li> Configuration of the Vue CLI New Project , and determining project packages to be installed and setup in Vue project </li>
                </ol>                                                                                                                                                                                             
            </article>
        </Section>
        
        <!------------------------------------------------------------------------------------------------------>
        <!------------------------------------------------------------------------------------------------------>
        <section class="PHPCon" id="PHPCon">
            <header>
                <h3> [Setup and Configure Vue] Concept: </h3>
            </header>
                        
            <h2> =&gt; [Setup and Configure Vue] Concept : <br>
                <ul>            
                    <li> Downloading and installing {cmder} => to use the vue-cli on it, which is having following Features : <br>
                        <ol>   
                            <li> Has modern features which are in the recent code Editor , and much more handy and pracitcal than the command line interfaces in the linux & mac & windows </li>
                            <li> Include the Theme features to change the font & background properties and color </li>
                            <li> Include the ability to create and operte several pages in the same time </li>
                            <li> Include the more easy and handy order controlings </li>
                        </ol>
             
                    </li>

                    <li> Setup the Vue CLI [Command line Interface] , through the following steps :<br>
                        <ul>
                            <li> Checking for the Node version through the command line : [ npm --v ] </li>
                            <li> Checking if there is a previous version of the Vue CLI setup in this machine : [ npm vue-cli --v ]  </li>
                            <li> Installing the vue-cli if it is not existed in the machine : [ npm install vue-cli  ]  </li>
                            <li> Accessing the required Directory => To Create the porject in : [ create vue project-Name{kabab-case} ]  <br>
                                <ul>
                                    <li> { cd directoryName }=> To open the directory  </li>
                                    <li> { cd.. directoryName }=> To go up level the directory  </li>
                                </ul>
                            </li>
                            <li> Determining the Project Pre-set Methods Configurations by selecting form the list : <br>
                                <ol> 
                                    <li> Default Presetting Method {babel, eslint} </li>
                                    <li> Manually Presetting Method by choosing from following items : <br>
                                        <ol> 
                                            <li> [Babel] => Which is a Javascript Transpiler (Translator + Compiler) => To modern JS Sytnax code readable for the older browser <br>=> {Recommended to Select} </li>
                                            <li> [TypeScript] => Which is a superior Javascript <br> => { X Not Recommended to Select} </li>
                                            <li> [Progressive Web Application]  <br> => { X Not Recommended to Select} </li>
                                            <li> [Router]  => Deal with Vue page links and redirectives for inner page navigation the Current page  <br> => { Recommended to Select} </li>
                                            <li> [Vuex]  =>  A State Management [Will be studied later ] <br> => { Recommended to Select}  </li>
                                            <li> [CSS pre-processors]  => Supporting the CSs libraires like (Sass) <br> => { Recommended to Select}  </li>
                                            <li> [Linter & Formatter]  => Activating the Syntax Correcting & providing the [ Unified Standarized Formatter ] <br> => { Recommended to Select}  </li>
                                            <li> [Unit Testing]  => Checking for Responsive of the Script of code & reduce the bugs & and Recovering for the page issues (Will Be studied later ) <br> => { NOT Recommended to Select for Now}  </li>
                                            <li> [E2E]  => Also one of the Testing pacakage  <br> => { NOT Recommended to Select for now}  </li>
                                        </ol>                                                          
                                        <p> Choosing tools : {arrows: Navigating || space:select the item || Enter: To Submit  } </p>
                                    </li>
                                </ol>
                           </li>
                        </ul>                    
                    </li>
                </ul>
            </h2>                                                                         
            
        </section>
        <!------------------------------------------------------------------------------------------------------>
        <!------------------------------------------------------------------------------------------------------>

        <section class="PHPImp" id="PHPImp">
            <header>
                <h3> Vue.js [Setup and Configure Vue] Importance & Benefits : </h3>
            </header>
                        
            <p> Dealing with [Vue CLI] => Will help the developer in any Framework , and not the Vue Framework <br>
                        
        </section>

        <!------------------------------------------------------------------------------------------------------>
        <section class="PHPSyntx" id="PHPSyntx"> 
            <header>
                <h3> [ Vue.js [ Setup and Configure Vue ] Syntax & Methods: </h3>
            </header>                 
            
            <!-- <p> =&gt; [ Global Component Vs Local Component ] =>  <br> </p>
                         
             <p> Syntax: <br> </p>            
                <div id="Code" class="Code">                
                    A)  Vue HTML Container  <br>
                    <span class= one></span> &lt; div id="app-one" &gt;  <br>                    
                        <span class= two></span> &lt; p &gt; { { compFunName } } &lt; /p &gt; <br>
                    <span class= one></span> &lt; /div &gt;  <br> 
                    
                    B)  VueJS Main Model  <br>
                    <span class= one></span> &lt; script &gt;  <br>                     
                                                
                        <span class= two></span> // 1) [Vue Main Model] Defining : <br> 
                        
                        <span class= two></span> var vm = new Vue({ <br>
                            <span class= three></span> el: '#Vue Html Id', { <br>
                            
                            <span class= three></span> data: { <br>
                                <span class= four></span> propName1: propValue1 <br>
                                <span class= four></span> propName2: propValue2 <br>
                            <span class= three></span> } <br>

                            <span class= three></span> computed: { <br>    
                                <span class= four></span> methodName: function() { <br>
                                    <span class= five></span> return  Code ;{ <br>
                                <span class=four></span> }, <br>
                            <span class=three></span> }, <br>
                                                                                                                                                                                                                                                   
                        <span class=two></span> }); <br> <hr> <br> <br>
                        
                    <span class= one></span> &lt; /script &gt;  <br>
                    <br><br> 
               </div>  -->
            <hr>
        </section>

        <!------------------------------------------------------------------------------------------------------>
        <section class="PHPPract" id="PHPPract"> 
             <header>
                <h3> Vue.js [Setup and Configure Vue - CLI ] General Practical Application : </h3>
            </header>
            
            <p> In this lesson will be (1) Testing Application] to be continued in next lesson => by following steps :  </p>

                <ol type="A">
                
                    <!-- <li> First Example => (Validation input field ) Method by using {Vue Computed Instance}, including the following steps : <br> -->
                    <li> Just an CLI Testing commands of {creating new vue project in CLI } <br>
                        <ul>
                            <li> Creaing Command => { vue create shadi-pro } </li>                            
                            <li> Determing Configuration Method from { [Default Method] || [Advanced Manually Method (Recommended)] } </li>
                            <li> Determing Configurations from Manual List Items => as following :  <br>                                
                                <ol>  
                                    <ul> Recommened to Select : <br>
                                        <li> [Babel] => {Recommended to Select} </li>
                                        <li> [Router] => { Recommended to Select} </li>
                                        <li> [Vuex] => { Recommended to Select}  </li>
                                        <li> [CSS pre-processors] => { Recommended to Select}  </li>
                                        <li> [Linter & Formatter] => { Recommended to Select}  </li>
                                    </ul> <br> <br>
                                    
                                    <ul>  Recommened to Select : <br>
                                        <li> [Progressive Web Application] => { X Not Recommended to Select} </li>
                                        <li> [TypeScript] => { X Not Recommended to Select} </li>
                                        <li> [Unit Testing]  => { X NOT Recommended to Select for Now}  </li>
                                        <li> [E2E] => { X NOT Recommended to Select for now}  </li>
                                    </ul>

                                </ol>
                             </li>
                        </ul>                                                                                    
                    </li>      
                </ol> <hr>                  
                                                                         
        </section>                     
        
        <!-- The following is the main Vue application Container , which will be accessed by the Vue Framework using the Container [ID]   -->
        
        <!-- First Vue Application [Using {Vue Model Computed Instances}]  -->
            <!-- <div id="app-main"> 
                <div class="cont" style="border: 2px solid #111; margin:10px; background-color:aqua; padding:7px; font-size: 20px;" > 
                    <h3 style="margin-bottom:10px;"> Welcome to {{message}} : </h3>
                    
                    <label> Hour : </label>
                    <input type="text" v-model="hour"><br>
                    
                    <label> Minutes : </label>
                    <input type="text" v-model="min"> <br>
                    
                    <label> Seconds : </label>
                    <input type="text" v-model="sec">                                      
                </div>                                                            
            </div>  -->

        
            <!-- The following is the main Vue Framework Importing Syntax [from Application Folder]  -->
            <!-- <script src="js/vue.js"></script> -->
            
            <!-- The following is the main Vue application Model Container Including => [{Vue Resuable component} + {Vue Model Instances}]  -->
            <script> 
                                            
                //  A) Vue (Main Model) Defining [Including Computed Instance]: 
                // var vm = new Vue({
                //     el: '#app-main',                         
                //     data: {                                                                                            
                //         message : 'Welcome to Vue Application [Watching{} Instance] To Create Time unites converter  ',
                //         hour: '',                        
                //         min: '',                        
                //         sec: '',                        
                //     },  
                    
                //     watch: {
                //         hour: function(v) {
                //             this.min = v * 60;
                //             console.log(' Run Hour');
                //         },
                        
                //         min: function(v) {
                //             this.hour = v / 60;
                //             this.sec = v * 60;
                //             console.log(' Run Min');

                //         },                                                                                                                                               
                        
                //         sec: function(v) {
                //             this.min = v / 60;                        
                //             console.log(' Run Sec');
                //         }                                                                                                                                               
                //     },                    
                // });                                
            </script>

        <!-- =========================================================================================================== -->
            
        <!------------------------------------------------------------------------------------------------------>                                 
        <!---------------------------------------------------------------------------------------->
    </div>
    <!------------------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------------>
    <aside>
        
        <section class="VideoSection">
            <h3> Lesson 21 Video File:</h3>
            <video controls width="300" height="300">
                <source src="E:\Web videos lessons\Web Framworks\Vue.js\Vue.js Frame Work\21 Learn VueJs In Arabic - Setup and Configure Vue CLI Part 1.mp4" type="video/mp4">                
                Your browser Does Not Support the Video file ...              
            </video>
        </section>
        
        <section class="AudioSection">
            <h3> Epic Autoplay Audio File:</h3>
            <audio controls loop>
                    <source src="C:\Users\hp\Downloads\Music Epic\Epic Vip\Elnhaya.Tetr-MaTb3aa.Com.mp3" type="Audio/mpeg">                 
                    Your browser Does Not Support the Audio file ...              
                </audio>
        </section>

        <section class="Links">
            <h3>Categories</h3>
            <ul>
                <li> Check </li>
                <li> Semantics </li>
                <li> Api </li>
                <li> New Attributes </li>
                <li> Multimedia Elements </li>
            </ul>
        </section>

        <section class="Meters">
            <h3>Performance</h3>
            <div>
                CPU:
                 <meter value=".6" min="0" max="2" low=".4" high=".8" optimum=".7"> </meter>
                 &nbsp;&nbsp;&nbsp; Uploading: 
                 <progress value="80" max="340"></progress>
            </div>

        </section>

        <section class="Poll">
            <h3>What is the your best Browser? </h3>
            <input list="Browsers">
            <datalist id="Browsers">
                <option value="Chrome">
                <option value="Firefox">
                <option value="Safari">
                <option value="Opera">
                <option value="Internet Explorer">
                <option value="Baidu">
            </datalist>
            <input type="submit" value="Choose">
        </section>

        <section class="Age-Calculate">
            <h3> Calculate your age by days & months: </h3>
            <Form oninput="resultD.value=parseInt(age.value)*parseInt(days.value) + ' Days'; resultM.value=parseInt(age.value)*parseInt(months.value) + ' Months'">
                <input type="text" name="age"> <br>
                <input type="hidden" name="days" value="385">
                <input type="hidden" name="months" value="34">
                <output name="resultD"> </output>
                <output name="resultM"> </output>
            </Form>
        </section>

        <section class="Calculator">
            <h3> Enter two numbers to now-parse-Conv basic operation: </h3>
            <Form oninput="Rsum.value='Summition Result: '+(parseInt(num1.value)+parseInt(num2.value)) ; Rsub.value='Substraction Result: '+(parseInt(num1.value)-parseInt(num2.value)); 
           Rmult.value='Multiply Result: '+(parseInt(num1.value)*parseInt(num2.value)); Rdiv.value='Division Result: '+(parseInt(num1.value)/parseInt(num2.value))">

                <input type="text" name="num1">
                <input type="text" name="num2">

                <output name="Rsum"> Summition Result: </output><br>
                <output name="Rsub"> Substraction Result: </output><br>
                <output name="Rmult"> Multiply Result: </output><br>
                <output name="Rdiv"> Division Result: </output>
            </Form>
        </section>

    </aside>

    <div class="Clear"></div>
    <!------------------------------------------------------------------------------------------------------------->
    <!------------------------------------------------------------------------------------------------------------->

    <dialog class="Note" open style="display: flex; width:100%">
        <details>
            <summary> Hypernate Links: </summary>
            <ul>
                <li> <a href="https://shadi-pro.epizy.com"> My Personal Reference </a></li>
                <li> <a href="https://shadi-cv.epizy.com"> My Personal Resume </a></li>
                <li> <a href="https://google.com">Google</a></li>
                <li> <a href="https://youtube.com">Youtube</a></li>
                <li> <a href="https://facebook.com">Facebook</a></li>
            </ul>
        </details>
    </dialog>


    <footer id="footer" class="footer">
        All right reserved by &nbsp; &copy; &nbsp; initiated by Shindow &trade;
    </footer>


    <script>
        alert("Welcome to 21 Learn VueJs In Arabic - Setup and Configure Vue CLI Part 1");
    </script>

    
    <script src="onmouseover.js"></script>

</body>

</html>       