 
.font {  font-family : 'Almarai' , 'san-serif'   } 

.color-body {  height : 100vh ; background-color : #f8f8f8f8  } 

.rectangle {  min-height : auto ; background-color : #fff ; box-shadow: 1px 4px 4px 1px rgba(85,85,85, .25)  } 

.btn-style  {  width: 200px ; background-color : #224f61 ; border-radius: 8px ; color: #fff }     

.img-avatar  {  width: 60px ; height : 60px ; border-radius: 50% } 

.dates-count  {  color: #555555; font-weight: 600px; margin-bottom: 20px  }   