.header {
    width: 100% ; 
    height: 5rem ;
    align-items: center ; 
    display : flex;
    justify-content: space-between;
    background-color: #1a2020;
    padding : 0 10%;
}

.header a {
    list-style : none ;
    padding : 0 ;
    margin : 0 ;
    align-items: baseline;
    display: flex;
 }

.header a {
     text-decoration : none ; 
     font-size: 1.5rem ; 
     color: #009bff ; 
    transition : color .3s ease ; 
}

.header li {
    margin-left : 3rem; 
}

.header a:hover,
.header a:active , 
.header a.active 
{
    color: #FFF;
}

.logo a {
    font-size: 2rem ; 
     font-weight: bold; 
}

.nav ul  {
    list-style: none ;
}
