
<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">
    <title>19 Learn VueJs In Arabic - Watch Part 1 Currency Converter </title>
    <link rel="stylesheet" href="19 Learn VueJs In Arabic - Watch Part 1 Currency Converter.css" media="all">

    <style>
        .span{color: red ; font-weight:bold};
        /* #app-main * {border: 2px solid #111; margin:10px; background-color:aqua}; */

    </style>
    <script>
    </script>

</head>
<!-------------------------------------------------------------------------------------------------------->

<body>
    <header class="Main" id="Main">
       19 Learn VueJs In Arabic - Watch Part 1 Currency Converter
    </header>

<!-------------------------------------------------------------------------------------------------------->

    <nav>
        <ol type="A">
            <li> <a href=#MainC title="Go to19 Learn VueJs In Arabic - Watch Part 1 Currency Converter ">
               19 Learn VueJs In Arabic - Watch Part 1 Currency Converter Main Topics </a> </li>

            <li> <a href=#PHPCon title="Go to  [16 Learn VueJs In Arabic - Computed Properties Part 1 ] Concept">
               19 Learn VueJs In Arabic - Watch Part 1 Currency Converter Concept </a> </li>

            <li> <a href=#PHPImp title="Go to  [16 Learn VueJs In Arabic - Computed Properties Part 1 ] Importance & Benefits">
               19 Learn VueJs In Arabic - Watch Part 1 Currency Converter Importance & Benefits </a> </li>

            <li> <a href=#PHPSyntx title="Go to  [16 Learn VueJs In Arabic - Computed Properties Part 1] Syntax">
               19 Learn VueJs In Arabic - Watch Part 1 Currency Converter Syntax & Steps </a> </li>

            <li> <a href=#PHPPract title="Go to  [16 Learn VueJs In Arabic - Computed Properties Part 1] Practical Applications">
               19 Learn VueJs In Arabic - Watch Part 1 Currency Converter Practical Applications </a> </li>

        </ol>

        <a class="Home" href="#Main" title="Go to page header"> Home </a>
        <a class="End" href="#footer" title="Go to page footer"> End </a>
    </nav>
    <!---------------------------------------------------------------------------------------------------------->

    <main class="Welcome"> Welcome to Vue.js Course <span>19 Learn VueJs In Arabic - Watch Part 1 Currency Converter </span>
    </main>
    
    <div class="Post">
        <Section id="MainC" class="MainC">

            <header>
                Vue.js [19 Learn VueJs In Arabic - Watch Part 1 Currency Converter] Main Topics :
            </header>

            <article>
                <p> &gt; Main Subjects in this lesson are as following : </p>
                <ol type="A">
                                                                                                                        
                    <!-- <li> [Using computed Instance in the Main Vue Model] ->   <br>
                        <code style="text-align:left; align-items: left;">
                            <span class="one"> var vm = new Vue({ <br>
                                <span class="two"> el: 'Vue Html Id' <br> <br>
                                
                                <span class="two"> data: { <br> 
                                    <span class="three"> propertName1: property1Value, <br>
                                <span class="two"> }, <br> <br>
    
                                <span class="two"> methods: { <br>                         
                                    <span class="three"> methodName: function() { <br>
                                        <span class="four"> cosole.log('Test process Expression') ; <br>
                                        <span class="four"> return this.prop * value ; <br>
                                    <span class="three"> } <br>
                                <span class="two"> }, <br> <br>
                                
                                <span class="two"> computed: { <br>                         
                                    <span class="three"> compMethodName: function() { <br>
                                        <span class="four"> cosole.log('Test process Expression') ; <br>
                                        <span class="four"> return this.prop * value ; <br>
                                    <span class="three"> } <br>
                                <span class="two"> } <br>
                            <span class="one"> } <br>
                        </code>
                    </li> -->                    
                </ol>                                
            </article>
        </Section>
        
        <!------------------------------------------------------------------------------------------------------>
        <!------------------------------------------------------------------------------------------------------>
        <section class="PHPCon" id="PHPCon">
            <header>
                <h3> [Computed Properties] Concept: </h3>
            </header>
                        
            <h2> =&gt; [Computed Properties] Concept : <br>
                <ul>            
                    <li> Using [Computed{}] instance + v-model will make the validaiton more effective and more speedy and even more less capacity of using space </li>                                        
                </ul>
            </h2>                                                                         
            
        </section>
        <!------------------------------------------------------------------------------------------------------>
        <!------------------------------------------------------------------------------------------------------>

        <section class="PHPImp" id="PHPImp">
            <header>
                <h3> Vue.js [Computed Methods] Importance & Benefits : </h3>
            </header>
                        
            <p> Best Performance for the => Vue Valdiation Application  => by saving Time and Memory of Executing Methods <br>            
                        
        </section>

        <!------------------------------------------------------------------------------------------------------>
        <section class="PHPSyntx" id="PHPSyntx"> 
            <header>
                <h3> [ Vue.js [ Computed Propeprties in Valdiation ] Syntax & Methods: </h3>
            </header>                 
            
            <!-- <p> =&gt; [ Global Component Vs Local Component ] =>  <br> </p>
                         
             <p> Syntax: <br> </p>            
                <div id="Code" class="Code">                
                    A)  Vue HTML Container  <br>
                    <span class= one></span> &lt; div id="app-one" &gt;  <br>                    
                        <span class= two></span> &lt; p &gt; { { compFunName } } &lt; /p &gt; <br>
                    <span class= one></span> &lt; /div &gt;  <br> 
                    
                    B)  VueJS Main Model  <br>
                    <span class= one></span> &lt; script &gt;  <br>                     
                                                
                        <span class= two></span> // 1) [Vue Main Model] Defining : <br> 
                        
                        <span class= two></span> var vm = new Vue({ <br>
                            <span class= three></span> el: '#Vue Html Id', { <br>
                            
                            <span class= three></span> data: { <br>
                                <span class= four></span> propName1: propValue1 <br>
                                <span class= four></span> propName2: propValue2 <br>
                            <span class= three></span> } <br>

                            <span class= three></span> computed: { <br>    
                                <span class= four></span> methodName: function() { <br>
                                    <span class= five></span> return  Code ;{ <br>
                                <span class=four></span> }, <br>
                            <span class=three></span> }, <br>
                                                                                                                                                                                                                                                   
                        <span class=two></span> }); <br> <hr> <br> <br>
                        
                    <span class= one></span> &lt; /script &gt;  <br>
                    <br><br> 
               </div>  -->
            <hr>
        </section>

        <!------------------------------------------------------------------------------------------------------>
        <section class="PHPPract" id="PHPPract"> 
             <header>
                <h3> Vue.js [Computed properties - in Validation ] General Practical Application : </h3>
            </header>
            
            <p> In this lesson will be (1) Application ]= > as following :  </p>

                <ol type="A">
                
                    <li> First Example => (Validation input field ) Method by using {Vue Computed Instance}, including the following steps : <br>
                        <ul>
                            <li> Defining and Creating the [Vue Main Container {app-one}] with HTML Element has computed Instance => Including the following (3) Main Parts : <br> 
                                <ul> 
                                    <li> {Vue / HTML Elements} => Including the following (3) Repeating Elements of : <br>
                                        <ol type="A"> 
                                            <li> &lt; p &gt; Including => { { validateUsername } } Computed Property  </li>
                                        </ol>
                                    </li>
                                
                                    <li> {Vue Model Instances} => Including the following Instances : <br>
                                        <ul> 
                                            <li> el = '#app-one' </li>
                                            <li> data : { Inlcluding (3): Properties => Message || age || userName } </li>
                                            <li> computed {by using (default JS) } : [ (1) Methods ] <br>
                                                <ol> 
                                                    <li> validateUsername : function(){}  </li>                                                    
                                                </ol>                                                                                                                                    
                                            </li>
                                        </ul>                                                                    
                                    </li>                                    
                                </ul>
                            </li>                            
                        </ul>                                                                                    
                    </li>      
                </ol> <hr>                  
                                                                         
        </section>                     
        
        <!-- The following is the main Vue application Container , which will be accessed by the Vue Framework using the Container [ID]   -->
        
        <!-- First Vue Application [Using {Vue Model Computed Instances}]  -->
            <div id="app-main"> 
                <div class="cont" style="border: 2px solid #111; margin:10px; background-color:aqua; padding:7px; font-size: 20px;" > 
                    <h3 style="margin-bottom:10px;"> Welcome to {{message}} : </h3>
                    
                    <label> Egypt Pound : </label>
                    <input type="text" v-model="eg"><br>
                    
                    <label> Saudi Riyal : </label>
                    <input type="text" v-model="sar"> <br>
                    
                    <!-- <label> Dollar : </label>
                    <input type="text" v-model="dol">                                       -->
                </div>                                            
                <!-- -------------------------------------------------------------- -->                
            </div> 

        
            <!-- The following is the main Vue Framework Importing Syntax [from Application Folder]  -->
            <script src="js/vue.js"></script>
            
            <!-- The following is the main Vue application Model Container Including => [{Vue Resuable component} + {Vue Model Instances}]  -->
            <script> 
                                            
                //  A) Vue (Main Model) Defining [Including Computed Instance]: 
                var vm = new Vue({
                    el: '#app-main',                         
                    data: {                                                                        
                        age : 36,
                        message : 'Welcome to Vue Application [Watching{} Instance] ',
                        eg: '',                        
                        sar: '',                        
                        // dol: '',                        
                    },  
                    
                    watch: {
                        eg: function(v) {
                            this.sar = v/5;
                            this.dol = v/19;
                            console.log('eg Run');
                        },
                        
                        sar: function(v) {
                            this.eg = v*5;
                            this.dol = v/10;
                            console.log('sar Run');

                        },                                                                                                                                               
                        
                        // dol: function(v) {
                        //     this.eg = v*19;
                        //     this.sar = v*10;
                        //     console.log('dol Run');
                        // }                                                                                                                                               
                    },                    
                });                                
            </script>

        <!-- =========================================================================================================== -->
            
        <!------------------------------------------------------------------------------------------------------>                                 
        <!---------------------------------------------------------------------------------------->
    </div>
    <!------------------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------------>
    <aside>
        
        <section class="VideoSection">
            <h3> Lesson 19 Video File:</h3>
            <video controls width="300" height="300">
                <source src="E:\Web videos lessons\Web Framworks\Vue.js\Vue.js Frame Work\19 Learn VueJs In Arabic - Watch Part 1 Currency Converter.mp4" type="video/mp4">                
                Your browser Does Not Support the Video file ...             
            </video>
        </section>
        
        <section class="AudioSection">
            <h3> Epic Autoplay Audio File:</h3>
            <audio controls loop>
                    <source src="C:\Users\hp\Downloads\Music Epic\Epic Vip\Elnhaya.Tetr-MaTb3aa.Com.mp3" type="Audio/mpeg">                 
                    Your browser Does Not Support the Audio file ...              
                </audio>
        </section>

        <section class="Links">
            <h3>Categories</h3>
            <ul>
                <li> Check </li>
                <li> Semantics </li>
                <li> Api </li>
                <li> New Attributes </li>
                <li> Multimedia Elements </li>
            </ul>
        </section>

        <section class="Meters">
            <h3>Performance</h3>
            <div>
                CPU:
                 <meter value=".6" min="0" max="2" low=".4" high=".8" optimum=".7"> </meter>
                 &nbsp;&nbsp;&nbsp; Uploading: 
                 <progress value="80" max="340"></progress>
            </div>

        </section>

        <section class="Poll">
            <h3>What is the your best Browser? </h3>
            <input list="Browsers">
            <datalist id="Browsers">
                <option value="Chrome">
                <option value="Firefox">
                <option value="Safari">
                <option value="Opera">
                <option value="Internet Explorer">
                <option value="Baidu">
            </datalist>
            <input type="submit" value="Choose">
        </section>

        <section class="Age-Calculate">
            <h3> Calculate your age by days & months: </h3>
            <Form oninput="resultD.value=parseInt(age.value)*parseInt(days.value) + ' Days'; resultM.value=parseInt(age.value)*parseInt(months.value) + ' Months'">
                <input type="text" name="age"> <br>
                <input type="hidden" name="days" value="385">
                <input type="hidden" name="months" value="34">
                <output name="resultD"> </output>
                <output name="resultM"> </output>
            </Form>
        </section>

        <section class="Calculator">
            <h3> Enter two numbers to now-parse-Conv basic operation: </h3>
            <Form oninput="Rsum.value='Summition Result: '+(parseInt(num1.value)+parseInt(num2.value)) ; Rsub.value='Substraction Result: '+(parseInt(num1.value)-parseInt(num2.value)); 
           Rmult.value='Multiply Result: '+(parseInt(num1.value)*parseInt(num2.value)); Rdiv.value='Division Result: '+(parseInt(num1.value)/parseInt(num2.value))">

                <input type="text" name="num1">
                <input type="text" name="num2">

                <output name="Rsum"> Summition Result: </output><br>
                <output name="Rsub"> Substraction Result: </output><br>
                <output name="Rmult"> Multiply Result: </output><br>
                <output name="Rdiv"> Division Result: </output>
            </Form>
        </section>

    </aside>

    <div class="Clear"></div>
    <!------------------------------------------------------------------------------------------------------------->
    <!------------------------------------------------------------------------------------------------------------->

    <dialog class="Note" open style="display: flex; width:100%">
        <details>
            <summary> Hypernate Links: </summary>
            <ul>
                <li> <a href="https://shadi-pro.epizy.com"> My Personal Reference </a></li>
                <li> <a href="https://shadi-cv.epizy.com"> My Personal Resume </a></li>
                <li> <a href="https://google.com">Google</a></li>
                <li> <a href="https://youtube.com">Youtube</a></li>
                <li> <a href="https://facebook.com">Facebook</a></li>
            </ul>
        </details>
    </dialog>


    <footer id="footer" class="footer">
        All right reserved by &nbsp; &copy; &nbsp; initiated by Shindow &trade;
    </footer>


    <script>
        alert("Welcome to 19 Learn VueJs In Arabic - Watch Part 1 Currency Converter");
    </script>

    
    <script src="onmouseover.js"></script>

</body>

</html>       