body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


header {
  background: '#fff'; 
}

ul {
  width: 100%   ;
  list-style:  none  ;
  padding: 0 0.2rem 0.25rem  ;
}
ul li::before {
  /* content: "/200B"; */
}
ul li { 
  color: black;
}

.item {
  display: 'flex' ;
  justify-content: flex-start ;
  align-items: center  ;
  padding: 0.5rem 0 0.5rem 0.5rem ;
  margin:  0.25rem 0 ;
  background-color: #eee  ;
}

.item:first-child {
  margin: 0 ;
}

.item >  label {
  font-size: 0.75rem  ;
  flex-grow: 1  ;
  color: black;
} 

.item input[type='checkbox'] { 
  text-align: center ;
  width: 2.5rem  ;
  width: 48px  ;
  min-width:  48px ;
  height: 2.5rem ;
  height:  48px   ;
  min-height: 48px   ;
  margin-right:  0.5rem  ;
  cursor:  pointer ;
  color: black;
}

.item input[type='checkbox']:focus + label {
  text-decoration : underline ;
}

.item svg {
  width: 48px  ;  
  min-width: 48px  ;  
  height:  30px  ;  
  font-size: 1rem  ;  
  color: steelblue  ;  
  cursor: pointer   ;  
  transition: all ease-in-out .6s   ;  
} 

.item svg:focus, .item svg:hover {  
  color: red ;
  outline: none ;
}





