 /* Formating file for ['Contact']  component */


 /* =========================
    Table of Design
    =========================
    1.  Contact us Top Header
    2.  Contact us Left section   
    3.  Contact us Right Animation section  
    4.  Reponsive Design =>  Media qurey 
         
*/

 /* =========================================
   1.  Contact us Top Header
  ==========================================
*/

 section.contact-us .icon-envelope {
     color       : var(--subtitle);
     margin-right: 1rem;
     font-size   : 1.8rem;
 }


 section.contact-us .title {
     color        : var(--title);
     font-size    : 2.1rem;
     margin-bottom: 1rem;
 }


 section.contact-us .sub-title {
     color        : var(--subtitle);
     margin-bottom: 2rem;
     line-height  : 1.65rem;
 }

 /* ---------------------------------------- */




 /* =========================================
   2.  Contact us Left section   
  ==========================================
*/

 section.contact-us label {
     color: var(--subtitle);
 }

 section.contact-us #email,
 section.contact-us #message {
     all             : unset;
     background-color: rgba(63, 63, 70, .15);
     border          : 1px solid rgba(63, 63, 70, .15);
     font-size       : 1.1rem;
     width           : 16rem;
     padding         : 0.5rem 1rem;
     margin-left     : 1rem;
     border-radius   : 5px;
     transition      : all .5s;
 }

 .light section.contact-us #email,
 .light section.contact-us #message {
     /* all : unset ; */
     background-color: rgba(255, 255, 255, 0.162);
     border          : 1px solid rgba(128, 128, 128, 0.451);
     border-radius   : 5px;
     color           : #232324;
     box-shadow      : 1px 1px 1px rgba(73, 73, 75, 0.105);

     font-size  : 1.1rem;
     width      : 16rem;
     padding    : 0.5rem 1rem;
     margin-left: 1rem;
     transition : all .5s;
 }

 section.contact-us #email:focus,
 section.contact-us #message:focus,
 section.contact-us #email:hover,
 section.contact-us #message:hover {
     border: 1px solid rgb(45, 212, 191);
 }

 .light section.contact-us #email:focus,
 .light section.contact-us #message:focus,
 .light section.contact-us #email:hover,
 .light section.contact-us #message:hover {
     border: 1px solid rgb(78, 80, 80 );
 }


 section.contact-us #message {
     min-height: 9rem;
     resize    : vertical;
 }


 section.contact-us .submit {
     background-color: rgba(36, 37, 46, 1);
     padding         : .75rem 2rem;
     text-align      : center;
     font-size       : 1.05rem;
     border-radius   : 5px;
     text-transform  : capitalize;
     transition      : .3s;
     margin-top      : 1.8em;
     border          : 1px solid rgb(63 63 70);
 }


 section.contact-us .submit:hover {
     scale: .9;
 }

 /* ------------------------ */


 /* ======================================
  3.  Contact us Right Animation section    
 ========================================
*/






 /* =================================
   4.  Responsive Design Media qurey  
  ===================================
*/

 @media (max-width :550px) {
     
     .animation {
         display: none;
     }

     section.contact-us form {
         display       : flex;
         flex-direction: column;
         width         : 85%;
     }

     section.contact-us form div.flex {
         flex-direction: column;
         align-items   : start;
     }

     section.contact-us #email,
     section.contact-us #message {
         margin-left: 0;
         margin-top : 1rem;
         width      : 100%;
         padding    : 0.7rem 0rem;
     }

     section.contact-us .submit {
         width     : 30%;
         align-self: center;
        }
 }

 @media (max-width :1200px) { 
    section.contact-us .contact-animation {display: none;}
 }

    @media (min-width:1890px) {

     section.contact-us .title,
     section.contact-us .sub-title {
         text-align: center;
     }

     section.contact-us .flex {
         justify-content: center;
     }

     section.contact-us .submit {
         display        : flex;
         justify-content: center;
         align-items    : center;
         margin-top     : 5rem;
         margin-left    : 12rem;
         width          : 100px;
     }
 }