
/* Defining the Root css variable :   */
 :root{
   --primary: #000 
  }

  
/* Assigning the defined root wihtin the background color [with the basic value] to  [body] element : */
body {
  background-color: var(--primary) ; 
}


/* Re-Assiging the defined root within the  background color [with custom value] to [custom class] element : */
.light {
  --primary : #fff ; 
}











