@media only screen and (min-width: 992px) {
  html {
    font-size: 22px;
  }

  .Header h1 {
    font-size: 2rem;
  }

  .Nav {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .Nav ul {
    text-align: right;
  }

  .Nav li:hover,
  .Nav li:focus,
  .Nav li:hover a,
  .Nav li:focus a {
    background-color: #fff;
    color: 333;
  }
   

  .searchForm {
    width:  50%  ; 
    padding :    .5rem  0   ; 
  }


  .searchForm  input[type="text"] {
    margin-left  :  0.5rem   ; 
    padding :    .5rem  0   ; 
  }


}

@media only screen and (min-width: 992px) {
  .Header svg {
    font-size: 3rem;
  }
}
